<app-board (showMenu)="onShowMenu($event)" (showPropBets)="onShowPropBetsMenu($event)" (showGameEnd)="onShowGameEnd($event)" [mcClass]="mcClass" *ngIf="gameboard.view=='in_game'"></app-board>
<app-game-end  *ngIf="comps=='game-end'" [data]="game_end_data" (closed)="onCloseGameEnd($event)"></app-game-end>
<app-main-menu [isTopBar]="false" *ngIf="comps=='menu'" (closed)="onCloseMenu($event)"></app-main-menu>
<app-scores *ngIf="comps=='scores'" (closed)="onCloseDefault($event)"></app-scores>
<app-odds-rules *ngIf="comps=='odds_rules'" (closed)="onCloseDefault($event)"></app-odds-rules>
<app-my-contests *ngIf="comps=='my-contests'" (closed)="onCloseDefault($event)" (onSelectMenu)="onSelectContestMenu($event)"></app-my-contests>
<app-add-contest *ngIf="comps=='add-contest'" (closed)="onCloseDefault($event)" (onSelectMenu)="onSelectContestMenu($event)"></app-add-contest>
<app-contest-invites *ngIf="comps=='contest-invites'" (closed)="onCloseDefault($event)" (onSelectMenu)="onSelectContestMenu($event)"></app-contest-invites>
<app-contest-single *ngIf="comps=='contest-single'" (closed)="onCloseDefault($event)" (onSelectMenu)="onSelectContestMenu($event)"></app-contest-single>
<app-edit-profile *ngIf="comps=='edit-profile'"  (closed)="onCloseDefault($event)"></app-edit-profile>
<app-change-password *ngIf="comps=='change-password'" (closed)="onCloseDefault($event)"></app-change-password>
<app-how-to-play *ngIf="comps=='how-to-play'" (closed)="onCloseDefault($event)"></app-how-to-play>
<app-game-history *ngIf="comps=='game-history'" (closed)="onCloseDefault($event)"></app-game-history>
<app-about *ngIf="comps=='about'" (closed)="onCloseDefault($event)"></app-about>

<app-prop-bets *ngIf="sub_comp=='prop-bets'" (back)="onClosePagePropBetsMenu($event)" (closed)="onCloseDefault($event)" [selectedGame]="selectedGame"></app-prop-bets>
<app-available-prop-bets *ngIf="sub_comp=='available-prop-bets'" (closed)="onClosePagePropBetsMenu($event)" [selectedGame]="selectedGame"></app-available-prop-bets>
<app-active-prop-bets *ngIf="sub_comp=='active-prop-bets'" (closed)="onClosePagePropBetsMenu($event)" [selectedGame]="selectedGame"></app-active-prop-bets>
<app-prop-bet-outcomes *ngIf="sub_comp=='prop-bet-outcomes'" (closed)="onClosePagePropBetsMenu($event)" [selectedGame]="selectedGame"></app-prop-bet-outcomes>
<app-prop-bets-menu [animateClass]="props_bet_menu_anim_class" *ngIf="comps=='prop-bets-menu'" (onSelectMenu)="onSelectPropBetsMenu($event)" (closed)="onCloseDefault($event)"></app-prop-bets-menu>
<app-prop-bet-confirmation *ngIf="sub_comp=='prop-bet-confirmation'" [propBetData]="propBetData" (closed)="onCloseDefault($event)" [selectedGame]="selectedGame"></app-prop-bet-confirmation>

<app-friends *ngIf="sub_comp=='friends'" (closed)="onClosePageFriendsMenu($event)"></app-friends>
<app-friends-request *ngIf="sub_comp=='friends-request'" (closed)="onClosePageFriendsMenu($event)"></app-friends-request>
<app-friends-menu [animateClass]="friends_menu_anim_class" *ngIf="comps=='friends-menu'" (onSelectMenu)="onSelectFriendsMenu($event)" (closed)="onCloseDefault($event)"></app-friends-menu>
<app-groups *ngIf="sub_comp=='groups'" (closed)="onClosePageGroupsMenu($event)"></app-groups>
<app-groups-invite *ngIf="sub_comp=='groups-request'" (closed)="onClosePageGroupsMenu($event)"></app-groups-invite>
<app-groups-menu [animateClass]="groups_menu_anim_class" *ngIf="comps=='groups-menu'" (onSelectMenu)="onSelectGroupsMenu($event)" (closed)="onCloseDefault($event)"></app-groups-menu>


<app-popupaccordion-select></app-popupaccordion-select>
<app-popupover-select></app-popupover-select>
<app-popupover-textfield></app-popupover-textfield>
<app-popupover-confirmation></app-popupover-confirmation>
<app-notifications></app-notifications>