<div class="cont animated fast default-cont" [ngClass]="animateClass">

    <div class="topbar default-topbar">
      <a class="btnback-nav" (click)="onClose()"></a>
      <img class="logo" src="../../../assets/images/inner-logo.png" />
      <img class="dejavu" src="../../../assets/images/dejavu-logo.png" />
    </div>
    <div class="title-cont default-text-page-title">
      <span>Pending Invites</span>
    </div>

    <div class="anim lists-container active">
        <div class="list-search-box anim active">
          <input type="text" placeholder="Search..." [(ngModel)]="_txt_search" (keyup)="onShowSearch($event)"/>
        </div>
        <ul *ngIf="_groups_members">
          <li *ngFor="let row of _groups_members"><span>{{row.groups.name}}</span> <a class="btnaccept" (click)="onJoin(row._id)">Join</a></li>
        </ul>
    </div>

</div><!--end--->