<div class="box forgotpassowrd-box">
  <div class="row cont animated" [ngClass]="boxClass">
    <div class="ic animated delay-1s">
      <div class="step step1" *ngIf="step==1">
        <form [formGroup]="dataForm" (ngSubmit)="onSubmit()">
          <a class="close" (click)="onClose()"></a>
          <h3>Forgot Password</h3>
          <p>Please enter your email addres, and we will send you the reset code, to reset password</p>
          <div class="fld">
            <label>Email</label>
            <div class="fld_c"><input autocomplete="off" type="email" formControlName="email" /></div>
          </div>
          <button type="submit" [disabled]="!dataForm.valid"></button>
        </form>
      </div>
      <div class="step step2" *ngIf="step==2">
        <form [formGroup]="dataForm" (ngSubmit)="onSubmit()">
          <a class="close" (click)="onClose()"></a>
          <h3>Forgot Password</h3>
          <p>Please enter the code that we have sent to your email</p>
          <div class="fld">
            <label>Reset Code</label>
            <div class="fld_c"><input autocomplete="off" type="text" formControlName="code" /></div>
          </div>
          <button type="submit" [disabled]="!dataForm.valid"></button>
        </form>
      </div>
      <div class="step step3" *ngIf="step==3">
        <form [formGroup]="dataForm" (ngSubmit)="onSubmit()">
          <a class="close" (click)="onClose()"></a>
          <h3>Change Password</h3>
          <p>Please enter the code that we have sent to your email</p>
          <div class="fld">
            <label>Password</label>
            <div class="fld_c"><input autocomplete="off" type="password" formControlName="password" /></div>
          </div>
          <div class="fld">
            <label>Repeat Password</label>
            <div class="fld_c"><input autocomplete="off" type="password" formControlName="password2" /></div>
          </div>
          <button type="submit" [disabled]="!dataForm.valid"></button>
        </form>
      </div>
    </div>
  </div>
</div>