<div class="cont animated fast default-cont" [ngClass]="animateClass">

    <div class="topbar default-topbar">
      <a class="btnback-nav" (click)="onClose()"></a>
      <img class="logo" src="../../../assets/images/inner-logo.png" />
      <img class="dejavu" src="../../../assets/images/dejavu-logo.png" />
    </div>
    <div class="title-cont default-text-page-title">
      
      <img height="24.58" src="../../../assets/images/txt-contest-invites.svg"/>
    </div>

    <div class="anim lists-container active">
        <ul *ngIf="contestInvites">
          <li *ngFor="let row of contestInvites"><span>{{row.contests[0].name}}</span> <a class="btnunfriend" (click)="onAccept(row._id)">Accept</a></li>
        </ul>
    </div>
 
  

</div>
<!--end-->
  