<div class="change-password">
    <div class="row cont animated" [ngClass]="boxClass">
      <div class="ic animated delay-1s">
        <form [formGroup]="dataForm" (ngSubmit)="onSubmit()">
          <a class="close" (click)="onClose()"></a>
         <h3>Change Password</h3>
          <div class="fld">
            <label>New Password</label>
            <div class="fld_c"><input autocomplete="off" id="ch_password" type="password" formControlName="password" /></div>
          </div>
          <div class="fld">
            <label>Repeat Password</label>
            <div class="fld_c"><input autocomplete="off" type="password" formControlName="password2" /></div>
          </div>
    
          <button type="submit" [disabled]="!dataForm.valid"></button>
        </form>
      </div>
    </div>
  </div>
  